<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
  <title>Jarec Turner| Web Portfolio</title>
</head>
<body>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
    <a class="navbar-brand" href="#">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#skills">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
    </div>
  </nav>
  <main role="main">

      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Jarec Turner, Web Developer</h1>
          <p>
            <a id="header-btn" class="btn btn-primary btn-lg" href="#contact" role="button">Contact me &raquo;</a> 
          </p>

          <div class="arrow bounce"></div>
        </div>
      </div>
        <div class="container">
          <h2>Social Media</h2>
          <div id="social"></div>
        </div>
      
        <!-- Skills -->
      <div id="skills" class="container">
        <h2>Skills</h2>
        <div class="skills-container row">
          <div class="col-md-4">
            <h3>HTML</h3>
            <div class="skill">
              <div>
                <img class="skill-img" src="https://www.w3.org/html/logo/downloads/HTML5_Logo_512.png" alt="">
              </div>
              <div id="htmlBar">
              <div class="skills html">

              </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <h3>CSS</h3>
            <div class="skill">
          <div>
            <img class="skill-img" src="http://w3widgets.com/responsive-slider/img/css3.png" alt="">
          </div>
          <div id="cssBar">
            <div class="skills css">

            </div>
          </div>
        </div>
          </div>
          <div class="col-md-4">
            <h3>JavaScript</h3>
            <div class="skill">
            <div>
              <img class="skill-img" src="https://www.techmagic.co/images/technology/javascript-shield.png" alt=""> 
            </div>
            <div id="jsBar">
              <div class="skills js">

            </div>
            </div>
          </div>
          </div>
        </div>
      </div>
        <hr>
        <div class="parallax">
        <div class="container mt-5">
          <h2>Projects</h2>
          <div id="projects" class="row"></div>
        </div>
        </div>
      <div id="contact" class="container">
        <h2>Contact Me</h2>
        <form action="https://formspree.io/jarecturner@gmail.com" method="POST">
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Please input message below.</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="message"></textarea>
          </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      </div>
  <!-- /container -->

    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="js/animation.js"></script>
    <script src="js/github.js"></script>
    <script src="js/social.js"></script>
</body