/* Colors:

Aqua: #00FFFF,
Dark Aqua: #00e5e5


*/

/* Global  */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* set to 10 px for rem units */
  font-size: 62.5%;
}

@media only screen and (max-width: 600px)  {
  html {
    font-size: 6px;
  }

  .logo {
    display: none;
  }
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  background-color: #fff;
  color: #fff;
  padding: 3rem;
  box-sizing: border-box;
}

/* Header */
.header {
  height: 95vh;
  background-image: linear-gradient(
    to right bottom, 
    rgba(0, 0, 0, 0.8), 
    rgba(0, 0, 0, 0.3)), 
    url(../img/header.jpeg);
  background-size: cover;
  background-position: center;
  position: relative;
  -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 75%, 50% 100%, 0 75%);
  clip-path: polygon(0% 0%, 100% 0, 100% 75%, 50% 100%, 0 75%);
}

.text-box {
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heading-primary {
  font-size: 5rem;
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 1.6rem;
}

.heading-primary-main {
  font-size: 6rem;
    display: block;
    letter-spacing: .5rem;
    animation-name: moveFromTop;
    animation-duration: 1s;
}

.heading-primary-sub {
  display: block;
  letter-spacing: .5rem;
  animation-name: moveInLeft;
  animation-duration: 1s;
}

.heading-primary-sub2 {
  letter-spacing: 5px;
  animation: moveFromRight;
  animation-duration: 1s;
}

/* BTNS */
.btn:link,
btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 1rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
}

.btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.3);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 8px 1rem rgba(0, 0, 0, 0.3);
}

.btn-white {
  background-color: #fff;
  color: #000;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.btn-animated {
    animation-name: moveFromBottom;
  animation-duration: 1s;
}

.btn-white::after {
  background-color: yellow;
}

.btn:hover::after {
  transform: scaleX(2) scaleY(2);
  opacity: 0;
}

/* Key frames */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveFromTop {
  0% {
    opacity: 0;
    transform: translateY(-10rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveFromBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveFromRight {
  0% {
    opacity: 0;
    transform: translateX(10rem)
  }

  100% {
    opacity: 1;
    transform: translate(0)
  }
}